.photo-and-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-padding-and-center-feedback {
  padding-top: 70px;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -60px;
}

#title-h1 {
  width: 490px;
  padding: 0.9% 40% 0 3.9%;
  font-family: Monserrat, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.0999em;
  color: #000000;
  letter-spacing: 0.1px;
  text-align: left;
}

#paragraph-under-header {
  width: 548px;
  padding: 2.3% 0 0 20px;
  font-family: Monserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  color: #000000;
  letter-spacing: 0px;
  text-align: left;
}

#list-icons-and-text-container {
  padding-top: 3%;
}

.icon-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 2% 4%;
}

.text-near-ico-container {
  margin: auto 0;
  padding-left: 1.9%;
}
.text-near-ico-container span {
  font-family: Monserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5em;
  color: #000000;
  letter-spacing: 0px;
  text-align: left;
}

.padding-container {
  padding-left: 5.5%;
}

#pair-image {
  height: 374px;
  width: 554px;
  max-height: 374px;
  max-width: 554px;
  background: url("../images/couple.png");
}

#play-ico {
  padding: 58.1% 0 0 89.7%;
}

.feedback-status-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -38px;
  padding-top: 19px;
}

.feedback-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 127px 28px 0;
  border-top: 0.5px solid #C7C7C7;
  border-bottom: 0.5px solid #C7C7C7;
}

.content-span {
  margin: auto 0;
  padding: 12px 14px 0px 10.23px;
  font-family: Monserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  color: #000000;
  letter-spacing: 0px;
}
.content-span span span {
  font-weight: bold;
}

.stars-ico-container {
  margin: auto 0;
  padding-top: 3%;
}

.stars-ico-container :not(:nth-child(5)) {
  padding-right: 3px;
}

.text-and-collage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-and-collage {
  padding-left: 19px;
}

.headline-container {
  padding: 27px 0 33px 0;
}

.headline {
  text-align: left;
  font-family: Monserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5em;
  color: #000000;
  letter-spacing: 0.2px;
}

.up-layer-container .down-layer-container {
  min-width: 1200px;
}

.up-layer-container :first-child {
  padding-left: 1px;
}
.up-layer-container :nth-child(2) {
  padding-left: 7px;
}
.up-layer-container :nth-child(3) {
  padding-left: 8px;
}
.up-layer-container :nth-child(4) {
  padding-left: 9px;
}

.down-layer-container :first-child {
  padding-left: 1px;
}
.down-layer-container :nth-child(2) {
  padding-left: 7px;
}
.down-layer-container :nth-child(3) {
  padding-left: 8px;
}
.down-layer-container :nth-child(4) {
  padding-left: 9px;
}

.down-layer-container {
  padding-top: 5px;
}

.down-layer-container img :not(:nth-child(4)) {
  padding-right: 10px;
}

.collapsed-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 21px 0;
  border-bottom: 0.5px solid #C7C7C7;
}

.collapsed-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -15px;
}
.collapsed-link div {
  padding: 0 10px 0 10px;
}

#collapsed-link-text {
  font-family: Monserrat, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  color: #5286EC;
  letter-spacing: 0.2px;
  text-decoration: none;
}