@import "mixins.scss";

footer {
  display: flex;
  justify-content: center;

  background: #faf9f8;
  height: 77px;
  bottom: 0;
}

.mc-visa-icons-and-support-info {
  display: flex;
  justify-content: space-between;
}

.mc-visa-icons-and-support-info-size {
  width: 52%;
}

.footer-icons-container {
  padding-top: 11px;
}

.footer-icons-container :last-child {
  padding-left: 16px;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
}

.footer-info-container-font-style {
  @include font-face(Monserrat, 14px, 1em, #b3b3b3, 0px, 400, normal);
}

.footer-info-container-padding {
  padding-right: 360px;
}

.footer-info-container :first-child {
  padding: 5px 0 0 8px;
}

.footer-info-container :last-child {
  padding-top: 12px;
  text-align: left;
}
