@import 'mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/RasmusAndersson-Inter-Regular.ttf');
}

@font-face {
  font-family: Monserrat;
  src: url('../fonts/GoogleFonts-Montserrat-Regular.ttf');
}

@font-face {
  font-family: Monserrat-Bold;
  src: url('../fonts/GoogleFonts-Montserrat-Bold.ttf');
}

//header first info
.header-info {
  display: flex;

  width: 100%;
  height: 100px;

  font-family: Inter, sans-serif;
}

.header-inscription-position {
  width: 29.97%;
  padding: 2.3% 0 0 0;
}

.header-inscription-font-style {
  span {
    @include font-face(no-font-family, 31.5px, 16px, #000, -1.1px);
  }
}

.header-right-text-alignment {
  text-align: right;
}

#header-contact {
  display: flex;
  height: 100%;
  width: 80%;
  padding: 2.2% 0 0 1.9%;
}

#phone-label {
  @include font-face(no-font-family, 14px, 16px, #b3b3b3, 0.9px, 300, normal);
}

#phone-value {
  @include font-face(Monserrat, 14px, 17px, #37373f);
}

//header board
#header-advertise {
  max-height: 840px;
  padding: 286px 637px 260px 390px;

  background: url('../images/helimain.png') no-repeat;
  background-size: cover;
}

//inscriptions like cost and number values
#phrase-container {
  font-family: Monserrat-Bold, serif;
  span {
    @include font-face(no-font-family, 40px, 49px, #fff, 0px, 900);

    span {
      @include font-face(no-font-family, 40px, 49px, #fc9b09, 0px, 900);
    }
  }
}

#message-shape {
  display: flex;
  height: 96px;
  width: 230px;

  margin: 20px 0 0 -4px;
  padding: 11px 29px 26px 23px;

  background: url('../images/message.png'), no-repeat;

  font-family: Monserrat, serif;
}

#price-label {
  span {
    @include font-face(no-font-family, 20px, 26px, #fff, 0, 400, normal);
    margin-left: 4px;
  }
}

#price-value {
  margin-top: -9px;
  padding-left: 5px;

  span {
    @include font-face(Monserrat-Bold, 35px, 53px, #fff, 0, 900, normal);
  }
}

//discount ico
#discount-ico-container {
  padding: 0 10px 10px 0;
}

#discount-ico {
  width: auto;
  height: auto;
  margin-left: -9px;
  margin-top: -6px;
}

//button
#button-container {
  padding-top: 12px;

  button {
    height: 68px;
    width: 304px;

    padding: 0;
    border: 3px solid #fff;
    border-radius: 3px;
    background: transparent;

    @include font-face(Monserrat-Bold, 19px, 19px, #fff, 0px, 900, normal);
  }
}
