//interactive button on header
#button-container {
  button:hover {
    border: 3px dashed #505050;
    color: #505050;
    transition: 0.35s;
    cursor: pointer;
  }
}

  a:hover {
    color: #062b83;
    transition: 0.35s;
    cursor: pointer;
  }

.select-btn-container {
  button:hover {
    color: #c77a04;
    border: 2px dashed #fc9b09;
    transition: 0.35s;
    cursor: pointer;
  }
}

.select-date-container {
  img:hover {
    box-shadow: 3px 3px 5px #676666;
    transition: 0.35s;
  }
}
