@media screen and (max-width: 320px) {
  .wrapper > .header-inscription-layout {
    padding: 19px 0 13px 0;
  }

  #header-advertise {
    background: url('../images/helimain_mob.png') center/ cover no-repeat;
  }

  .header-inscription-layout > .header-inscription-font-style {
    font-size: 1.3em;
  }

  .wrapper.header-advertise__alignment > #phrase-container {
    max-width: 80%;
    font-size: 2em;
    line-height: 39px;
  }

  .wrapper.header-advertise__alignment {
    padding: 44% 0 48% 5%;
  }

  .header-inscription-layout {
    justify-content: space-between;
    column-gap: 13.5%;
  }

  #header-contact {
    display: none;
  }

  .header-inscription-layout__link_invisible {
    min-width: 33%;
    padding-top: 5px;
    a {
      text-decoration: none;
      color: #5286ec;
    }
  }

  .header-inscription-layout__ico-container_invisible {
    padding-top: 4px;
    min-width: 7%;
  }

  .header-inscription-layout__link_invisible,
  .header-inscription-layout__ico-container_invisible {
    display: block;
  }

  #message-shape {
    width: 207px;
    margin: 33px 0 0 -4px;
    padding: 9px 29px 27px 15px;
    background-size: contain;
    background-position: 50% 50%;
  }

  div > #price-value > span {
    font-size: 2em;
  }

  #discount-ico-container > #discount-ico {
    object-position: 5px 2px;
  }

  #button-container > button {
    height: 69px;
    width: 275px;
    border-radius: 10px;
    font-size: 1.1em;
  }

  #button-container {
    padding-top: 7px;
  }

  //body the first part

  .padding-container {
    grid-row: 2/2;
    grid-column: 1/1;
  }

  .paragraph {
    width: 100vw;
    grid-row: 3/3;
  }
  .list-icons-and-text-container {
    grid-row: 4/4;
  }

  #title-h1 {
    padding: 35px 0 0 74px;
    max-width: 80vw;
    line-height: 1.3em;
    font-weight: 500;
    font-size: 1.7em;
  }

  #pair-image {
    height: 197px;
    width: 290px;
    margin: 9px 0 0 16px;
  }

  #play-ico {
    padding: 55% 89%;
  }

  #paragraph-under-header {
    padding: 30px 0 0 15px;
    line-height: 1.35em;
    font-size: 0.9em;
  }

  #list-icons-and-text-container {
    padding: 33px 0 0 12px;
  }

  #list-icons-and-text-container > .icon-and-text {
    padding-bottom: 20px;
  }

  .text-near-ico-container {
    padding: 9px;
  }

  .feedback-status-container {
    padding-top: 12px;
  }

  .feedback-status {
    flex-wrap: wrap;
    padding: 14px 0 8px 16px;
    margin-top: -17px;
  }

  .content-span {
    padding: 0;
  }

  .content-span {
    font-size: 0.9em;
    margin: -1px 0 0 12px;
  }

  .stars-ico-container {
    padding-left: 48px;
    margin-top: -24px;
  }

  #cup-ico {
    height: 12vh;
  }
}
