@mixin   font-face ( $fontFamily, $fontSize,
                     $lineHeight, $color,
                     $letterSpacing: 0px, $fontWeight: normal,
                     $fontStyle: initial){
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
  letter-spacing: $letterSpacing;
}