@import 'mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/RasmusAndersson-Inter-Regular.ttf");
}

@font-face {
  font-family: Monserrat;
  src: url("../fonts/GoogleFonts-Montserrat-Regular.ttf");
}

@font-face {
  font-family: Monserrat-Bold;
  src: url("../fonts/GoogleFonts-Montserrat-Bold.ttf");
}
//header
//header first info
.header-info {
  display: flex;

  width: 100%;
  height: 100px;
}

#header-inscription {
  width: 55%;
  padding: 3.3% 0.5% 0 0;

  @include  font-face(Inter, 31.5px, 16px, #000, -1.1px);
  text-align: right;
}

#header-contact {
  display: flex;
  height: 100%;
  width: 80%;
}

#phone-label {
  @include  font-face(Inter, 14px, 16px, #B3B3B3, 0.9px, 300, normal);

  padding-left: 4%;
  padding-top: 5.4%;
}

#phone-value {
  @include  font-face(Monserrat, 14px, 17px, #37373F);

  padding-top: 5.4%;
}

//header board
#header-advertising {
  position:absolute;
  top: 100px;
  left: -2px;

  width: 1916px;
  height:  840px;
  padding: 286px 637px 260px 392px;

  background-image: url("../images/helimain.png");
}

//inscriptions like cost and number values
#phrase-container  {
  span {
    @include font-face(Monserrat-Bold, 40px, 49px, #FFFFFF, 0px, 900);
    span{
      @include font-face(Monserrat-Bold, 40px, 49px, #FC9B09,0px, 900);
    }
  }
}

#message-shape{
  display: flex;

  height: 96px;
  width: 230px;

  margin: 20px 0 0 -4px;
  padding: 11px 29px 26px 23px;

  background: url("../images/message.png"), no-repeat;
}

#price-label {
  span{
    @include font-face(Monserrat, 20px, 26px, #FFFFFF, 0px, 400, normal);
    margin-left: 4px;
  }
}

#price-value {
  margin-top: -9px;
  padding-left: 5px;

  span {
    @include font-face (Monserrat-Bold, 35px, 53px, #FFFFFF, 0px, 900, normal);
  }
}

//discount ico
#discount-ico-container {
  padding: 0 10px 10px 0;
}

#discount-ico {
  position: absolute;
  left: 520px;
  top: 409px;

  width: auto;
  height: auto;
}

//button
#button-container {
  padding-top: 12px;

  button{
    height: 68px;
    width: 304px;

    padding: 0;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    background: transparent;

    @include font-face (Monserrat-Bold, 19px, 19px, #FFFFFF, 0px, 900, normal);
  }
}
//header