@import 'mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/RasmusAndersson-Inter-Regular.ttf");
}

@font-face {
  font-family: Monserrat;
  src: url("../fonts/GoogleFonts-Montserrat-Regular.ttf");
}

@font-face {
  font-family: Monserrat-Bold;
  src: url("../fonts/GoogleFonts-Montserrat-Bold.ttf");
}

//header
//header first info
.header-info {
  display: flex;

  width: 100%;
  height: 100px;
}

#header-inscription {
  width: 29.97%;
  padding: 2.3% 0 0 0;

  @include font-face(Inter, 31.5px, 16px, #000, -1.1px);
  text-align: right;
}

#header-contact {
  display: flex;
  height: 100%;
  width: 80%;
  padding: 2.2% 0 0 1.9%;
}

#phone-label {
  @include font-face(Inter, 14px, 16px, #B3B3B3, 0.9px, 300, normal);
}

#phone-value {
  @include font-face(Monserrat, 14px, 17px, #37373F);
}

//header board
#header-advertise {
  max-width: 100vw;
  max-height: 840px;
  padding: 286px 637px 260px 390px;

  background: url("../images/helimain.png") no-repeat;
}

//inscriptions like cost and number values
#phrase-container {
  span {
    @include font-face(Monserrat-Bold, 40px, 49px, #FFFFFF, 0px, 900);

    span {
      @include font-face(Monserrat-Bold, 40px, 49px, #FC9B09, 0px, 900);
    }
  }
}

#message-shape {
  display: flex;

  height: 96px;
  width: 230px;

  margin: 20px 0 0 -4px;
  padding: 11px 29px 26px 23px;

  background: url("../images/message.png"), no-repeat;
}

#price-label {
  span {
    @include font-face(Monserrat, 20px, 26px, #FFFFFF, 0px, 400, normal);
    margin-left: 4px;
  }
}

#price-value {
  margin-top: -9px;
  padding-left: 5px;

  span {
    @include font-face(Monserrat-Bold, 35px, 53px, #FFFFFF, 0px, 900, normal);
  }
}

//discount ico
#discount-ico-container {
  padding: 0 10px 10px 0;
}

#discount-ico {
  width: auto;
  height: auto;
  margin-left: -9px;
  margin-top: -6px;
}

//button
#button-container {
  padding-top: 12px;

  button {
    height: 68px;
    width: 304px;

    padding: 0;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    background: transparent;

    @include font-face(Monserrat-Bold, 19px, 19px, #FFFFFF, 0px, 900, normal);
  }
}

//header

//main
//photo near text headline and paragraph-text list of 4 elements and feedback info
.photo-and-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-padding-and-center-feedback {
  padding-top: 70px;
}

.info-container {
  display: flex;
  margin-left: -60px;
}

#title-h1 {
  width: 490px;
  padding: 0.9% 40% 0 3.9%;
  @include font-face(Monserrat, 40px, 1.0999em, #000000, 0.1px, 900, normal);
  text-align: left;
}

#paragraph-under-header {
  width: 548px;
  padding: 2.3% 0 0 20px;
  @include font-face(Monserrat, 18px, 1.5em, #000000, 0px, 400, normal);
  text-align: left;
}

#list-icons-and-text-container {
  padding-top: 3%;
}

.icon-and-text {
  display: flex;
  padding: 0 0 2% 4%;
}

.text-near-ico-container {
  margin: auto 0;
  padding-left: 1.9%;

  span {
    @include font-face(Monserrat, 14px, 1.5em, #000000, 0px, 600, normal);
    text-align: left;
  }
}

.padding-container {
  padding-left: 5.5%;
}

#pair-image {
  height: 374px;
  width: 554px;
  background: url("../images/couple.png");
}

.feedback-status-container {
  display: flex;
  margin-left: -38px;
  padding-top: 19px;
}

.feedback-status {
  display: flex;
  padding: 20px 127px 28px 0;
  border-top: 0.5px solid #C7C7C7;
  border-bottom: 0.5px solid #C7C7C7;
}

.content-span {
  margin: auto 0;
  padding: 12px 14px 0px 10.23px;

  @include font-face(Monserrat, 18px, 1.5em, #000000, 0px, 400, normal);
  span {
    span {
      font-weight: bold;
    }
  }
}

.stars-ico-container {
  margin: auto 0;
  padding-top: 3%;
}

.stars-ico-container :not(:nth-child(5)) {
  padding-right: 3px;
}
//photo near text headline and paragraph-text list of 4 elements and feedback info
//main